In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('youtube_data.csv')

In [3]:
df

,profile_name,subscriber,view,video,country,category,since,month_earnings,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews
0,Rotana,"24,500,000","24,034,368,999",9078,Saudi Arabia (SA),Music,2012,"['$110K', '$658K']","200,000","292,453,337","[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ..."
1,Mmoshaya,"23,200,000","18,468,679,361",1240,Saudi Arabia (SA),People & Blogs,2010,"['$12.8K', '$76.7K']",0,"34,076,848","[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '..."
2,شبكة العاب العرب | Arab Games Network,"22,300,000","10,024,125,023",7460,Saudi Arabia (SA),Gaming,2013,"['$17K', '$102K']","100,000","45,416,699","[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3..."
3,Katakit Baby Tv,"20,200,000","8,517,744,618",231,Saudi Arabia (SA),Music,2010,"['$50K', '$300K']","200,000","133,417,200","[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ..."
4,ماشا و الدب,"18,300,000","10,158,387,659",1482,Saudi Arabia (SA),Shows,2017,"['$30.8K', '$185K']","100,000","82,126,847","[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3557,Sports Bd.Tv,0,"185,482",492,Saudi Arabia (SA),Sports,2016,"['$60', '$363']",0,"161,430","[['2016-11-05', '0'], ['2016-11-06', '0'], ['2...","[['2016-11-05', '5191'], ['2016-11-06', '5228'..."
3558,Jadidal3alm,0,"603,444",254,Saudi Arabia (SA),News & Politics,2016,"['$226', '$1.36K']",0,"603,444","[['2017-03-10', '0']]","[['2017-03-10', '603444']]"
3559,News. Com,0,"6,599,820",372,Saudi Arabia (SA),Comedy,2014,"['$76', '$456']",0,"203,070","[['2017-03-09', '0'], ['2017-03-10', '0'], ['2...","[['2017-03-09', '7568469'], ['2017-03-10', '75..."
3560,Aflaming Boy,0,"75,874,878",272,Saudi Arabia (SA),Comedy,2017,"['$625', '$3.75K']",0,"1,668,057","[['2017-12-17', '0'], ['2018-01-12', '0'], ['2...","[['2017-12-17', '1153520'], ['2018-01-12', '53..."
3561,Shakshak,0,"13,514",4,Saudi Arabia (SA),Entertainment,2016,"['$5', '$30']",0,"13,514","[['2017-03-05', '0']]","[['2017-03-05', '13514']]"

In [4]:
df.isnull().sum()

profile_name             0
subscriber               0
view                     0
video                    0
country                  0
category               359
since                    0
month_earnings           0
last_subscriber_30       0
last_view_30             0
overviewSubscribers      2
overviewVideoViews       2
dtype: int64