In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('youtube_data.csv')

In [3]:
df

,profile_name,subscriber,view,video,country,category,since,month_earnings,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews
0,Rotana,"24,500,000","24,034,368,999",9078,Saudi Arabia (SA),Music,2012,"['$110K', '$658K']","200,000","292,453,337","[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ..."
1,Mmoshaya,"23,200,000","18,468,679,361",1240,Saudi Arabia (SA),People & Blogs,2010,"['$12.8K', '$76.7K']",0,"34,076,848","[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '..."
2,شبكة العاب العرب | Arab Games Network,"22,300,000","10,024,125,023",7460,Saudi Arabia (SA),Gaming,2013,"['$17K', '$102K']","100,000","45,416,699","[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3..."
3,Katakit Baby Tv,"20,200,000","8,517,744,618",231,Saudi Arabia (SA),Music,2010,"['$50K', '$300K']","200,000","133,417,200","[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ..."
4,ماشا و الدب,"18,300,000","10,158,387,659",1482,Saudi Arabia (SA),Shows,2017,"['$30.8K', '$185K']","100,000","82,126,847","[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3580,Thunayyan Khalid!,"3,890,000","755,411,009",595,Canada (CA),Entertainment,2010,"['$170', '$1.03K']",0,"455,754","[['2016-10-29', '1440927'], ['2016-11-24', '15...","[['2016-10-29', '195190546'], ['2016-11-24', '..."
3581,دانية شافعي Danyah Shafei,"2,830,000","1,160,145,940",329,NaN,Film & Animation,2013,"['$1.03K', '$6.21K']",0,"2,757,922","[['2016-10-29', '396331'], ['2016-11-23', '439...","[['2016-10-29', '271407735'], ['2016-11-23', '..."
3582,25esports,"348,000","13,915,866",56,NaN,People & Blogs,2017,"['$78', '$471']","5,000","209,635","[['2021-06-17', '230000'], ['2021-07-30', '241...","[['2021-06-17', '4042277'], ['2021-07-30', '48..."
3583,Barry | باري,"1,780,000","23,957,794",1,NaN,People & Blogs,2017,"['$24', '$144']",0,"64,270","[['2017-03-25', '78157'], ['2017-04-17', '1044...","[['2017-03-25', '172750'], ['2017-04-17', '716..."
3584,Dyler | دايلر,"7,860,000","1,224,551,963",567,NaN,People & Blogs,2016,"['$568', '$3.41K']",0,"1,515,993","[['2017-01-03', '387'], ['2017-02-15', '132771...","[['2017-01-03', '0'], ['2017-02-15', '2639847'..."

In [4]:
df.isnull().sum()

profile_name             0
subscriber               0
view                     0
video                    0
country                 17
category               359
since                    0
month_earnings           0
last_subscriber_30       0
last_view_30             0
overviewSubscribers      2
overviewVideoViews       2
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   profile_name         3585 non-null   object
 1   subscriber           3585 non-null   object
 2   view                 3585 non-null   object
 3   video                3585 non-null   int64
 4   country              3568 non-null   object
 5   category             3226 non-null   object
 6   since                3585 non-null   int64
 7   month_earnings       3585 non-null   object
 8   last_subscriber_30   3585 non-null   object
 9   last_view_30         3585 non-null   object
 10  overviewSubscribers  3583 non-null   object
 11  overviewVideoViews   3583 non-null   object
dtypes: int64(2), object(10)
memory usage: 336.2+ KB

In [6]:
index = df.shape[0]

In [7]:
def re(x):
   return str(x).replace(',', '')

In [8]:
df['subscriber'] = df['subscriber'].apply(re)

In [9]:
df['view'] = df['view'].apply(re)

In [10]:
df['last_subscriber_30'] = df['last_subscriber_30'].apply(re)

In [11]:
df['last_view_30'] = df['last_view_30'].apply(re)

In [12]:
df = df.astype({ "subscriber": int, "view": int, "last_subscriber_30": int, "last_view_30": int })

In [13]:
month_earnings_min = []

In [14]:
month_earnings_max = []

In [15]:
for i in range(0, index):
    month_earnings_min.append(eval(df.loc[i, 'month_earnings'])[0].replace('$', ''))
    month_earnings_max.append(eval(df.loc[i, 'month_earnings'])[1].replace('$', ''))

In [16]:
df['month_earnings_min'] = month_earnings_min

In [17]:
df['month_earnings_max'] = month_earnings_max

In [18]:
for i in range(0, index):
    mem = df.loc[i, 'month_earnings_min']
    if mem == '':
        df.loc[i, 'month_earnings_min'] = 0
    else:
        if not type(mem) == int:
            if 'K' in mem:
                mem = mem.replace('K', '')
                mem = int(float(mem) * 1000)
                df.loc[i, 'month_earnings_min'] = mem
            else:
                mem = int(mem)
                df.loc[i, 'month_earnings_min'] = mem

In [19]:
for i in range(0, index):
    mem = df.loc[i, 'month_earnings_max']
    if mem == '':
        df.loc[i, 'month_earnings_max'] = 0
    else:
        if not type(mem) == int:
            if 'M' in mem:
                mem = mem.replace('M', '')
                mem = int(float(mem) * 1000 * 1000)
                df.loc[i, 'month_earnings_max'] = mem
            elif 'K' in mem:
                mem = mem.replace('K', '')
                mem = int(float(mem) * 1000)
                df.loc[i, 'month_earnings_max'] = mem
            else:
                mem = int(mem)
                df.loc[i, 'month_earnings_max'] = mem

In [45]:
df

,profile_name,subscriber,view,video,country,category,since,month_earnings,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews,month_earnings_min,month_earnings_max
0,Rotana,24500000,24034368999,9078,Saudi Arabia (SA),Music,2012,"['$110K', '$658K']",200000,292453337,"[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ...",110000,658000
1,Mmoshaya,23200000,18468679361,1240,Saudi Arabia (SA),People & Blogs,2010,"['$12.8K', '$76.7K']",0,34076848,"[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '...",12800,76700
2,شبكة العاب العرب | Arab Games Network,22300000,10024125023,7460,Saudi Arabia (SA),Gaming,2013,"['$17K', '$102K']",100000,45416699,"[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3...",17000,102000
3,Katakit Baby Tv,20200000,8517744618,231,Saudi Arabia (SA),Music,2010,"['$50K', '$300K']",200000,133417200,"[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ...",50000,300000
4,ماشا و الدب,18300000,10158387659,1482,Saudi Arabia (SA),Shows,2017,"['$30.8K', '$185K']",100000,82126847,"[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973...",30800,185000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,Thunayyan Khalid!,3890000,755411009,595,Canada (CA),Entertainment,2010,"['$170', '$1.03K']",0,455754,"[['2016-10-29', '1440927'], ['2016-11-24', '15...","[['2016-10-29', '195190546'], ['2016-11-24', '...",170,1030
3581,دانية شافعي Danyah Shafei,2830000,1160145940,329,NaN,Film & Animation,2013,"['$1.03K', '$6.21K']",0,2757922,"[['2016-10-29', '396331'], ['2016-11-23', '439...","[['2016-10-29', '271407735'], ['2016-11-23', '...",1030,6210
3582,25esports,348000,13915866,56,NaN,People & Blogs,2017,"['$78', '$471']",5000,209635,"[['2021-06-17', '230000'], ['2021-07-30', '241...","[['2021-06-17', '4042277'], ['2021-07-30', '48...",78,471
3583,Barry | باري,1780000,23957794,1,NaN,People & Blogs,2017,"['$24', '$144']",0,64270,"[['2017-03-25', '78157'], ['2017-04-17', '1044...","[['2017-03-25', '172750'], ['2017-04-17', '716...",24,144
3584,Dyler | دايلر,7860000,1224551963,567,NaN,People & Blogs,2016,"['$568', '$3.41K']",0,1515993,"[['2017-01-03', '387'], ['2017-02-15', '132771...","[['2017-01-03', '0'], ['2017-02-15', '2639847'...",568,3410

In [51]:
df = df.astype({ "month_earnings_min": int, "month_earnings_max": int })

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   profile_name         3585 non-null   object
 1   subscriber           3585 non-null   int64
 2   view                 3585 non-null   int64
 3   video                3585 non-null   int64
 4   country              3568 non-null   object
 5   category             3226 non-null   object
 6   since                3585 non-null   int64
 7   month_earnings       3585 non-null   object
 8   last_subscriber_30   3585 non-null   int64
 9   last_view_30         3585 non-null   int64
 10  overviewSubscribers  3583 non-null   object
 11  overviewVideoViews   3583 non-null   object
 12  month_earnings_min   3585 non-null   int64
 13  month_earnings_max   3585 non-null   int64
dtypes: int64(8), object(6)
memory usage: 392.2+ KB