In [1]:
import requests 
import warnings

In [2]:
import pandas as pd

In [3]:
from bs4 import BeautifulSoup

In [4]:
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv('Data/channel_link.csv')

In [6]:
# i = [
#      'https://us.youtubers.me/shongxbong/youtuber-stats',
#      'https://us.youtubers.me/faris/youtuber-stats',
#      'https://us.youtubers.me/zeeyad-x/youtuber-stats',
#      'https://us.youtubers.me/778b5bdb-55b1-4773-a7ac-bcfd334b73c9/youtuber-stats',
#      'https://us.youtubers.me/ahmed-show/youtuber-stats',
#      'https://us.youtubers.me/powr-rob/youtuber-stats',
#      'https://us.youtubers.me/powr-blue/youtuber-stats',
#      'https://us.youtubers.me/powr-okhaledx/youtuber-stats',
#      'https://us.youtubers.me/bo3omar22/youtuber-stats',
#      'https://us.youtubers.me/chopperz14/youtuber-stats',
#      'https://us.youtubers.me/xsma333/youtuber-stats',
#      'https://us.youtubers.me/raed/youtuber-stats',
#      'https://us.youtubers.me/iiocmz/youtuber-stats',
#      'https://us.youtubers.me/d4976282-4d44-4334-a83c-1be6ea9df82e/youtuber-stats',
#      'https://us.youtubers.me/rakanoo/youtuber-stats',
#      'https://us.youtubers.me/fareed-xcx/youtuber-stats',
#      'https://us.youtubers.me/maher-mosly/youtuber-stats',
#      'https://us.youtubers.me/shahid-net/youtuber-stats',
#      'https://us.youtubers.me/thunayyan-khalid/youtuber-stats',
#      'https://us.youtubers.me/danyah-cartoon/youtuber-stats',
#      'https://us.youtubers.me/25esports/youtuber-stats',
#      'https://us.youtubers.me/barry/youtuber-stats',
#      'https://us.youtubers.me/dyler/youtuber-stats',
#     ]

In [7]:
# len(i)

23

In [8]:
# columns = [ 
#             'profile_name', 
#             'subscriber', 
#             'view',
#             'video',
#             'country',
#             'category',
#             'since',
#             'month_earnings',
#             'last_subscriber_30',
#             'last_view_30',
#             'overviewSubscribers',
#             'overviewVideoViews',
#           ]

In [9]:
# df1 = pd.DataFrame(columns=columns)

In [11]:
index = len(i)

In [ ]:
for ind in range(0, index):
    # assign URL 
    url_to_scrape = "https://us.youtubers.me"

    url = url_to_scrape + df.loc[ind, :][1]

    #url = i[ind]
    
    # request for HTML document of given url 
    response = requests.get(url)

    # Ensure the content is interpreted as UTF-8
    response.encoding = 'utf-8'

    # create document 
    html_document = response.text

    # create soap object 
    soup = BeautifulSoup(html_document, 'html.parser')
    
    info = soup.find_all(attrs = { 'class' : 'status-info' })[0]
    
    profile_name = info.find_all(attrs = { 'class' : 'profile-name' })[0].find('span').text
    subscriber = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[0].text.replace('\n', '').replace(' ', '')
    view = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[1].text.replace('\n', '').replace(' ', '')
    video = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[2].text.replace('\n', '').replace(' ', '')
    country = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[3].text.replace('\n', '')
    category = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[4].text.replace('\n', '')
    since = info.find_all(attrs = { 'class' : 'status-details' })[0].find_all(attrs = { 'class' : 'bottom-part' })[5].text.replace('\n', '').replace(' ', '')

    month_earnings = soup.find_all(attrs = { 'class' : 'overview' })[0].find_all(attrs = { 'class' : 'bottom' })[3].text.replace('\n', '').replace(' ', '').split('-')
    last_subscriber_30 = soup.find_all(attrs = { 'class' : 'stats-board three-row' })[0].find_all(attrs = { 'class' : 'top' })[1].text.replace('\n', '').replace(' ', '')
    last_view_30 = soup.find_all(attrs = { 'class' : 'stats-board three-row' })[0].find_all(attrs = { 'class' : 'top' })[4].text.replace('\n', '').replace(' ', '')

    try:
        overviewSubscribers = soup.find_all('script')[7].text
        start = overviewSubscribers.index('date') + 5
        end = overviewSubscribers.index(', {') - 1
        overviewSubscribers = overviewSubscribers[start: end].split('\\n')
        l = []
        for element in overviewSubscribers:
            if ',' in element:
                l.append(element.split(','))
        overviewSubscribers = l
    except:
        overviewSubscribers = None

    try:
        overviewVideoViews = soup.find_all('script')[8].text
        start = overviewVideoViews.index('date') + 5
        end = overviewVideoViews.index(', {') - 1
        overviewVideoViews = overviewVideoViews[start: end].split('\\n')
        l = []
        for element in overviewVideoViews:
            if ',' in element:
                l.append(element.split(','))
        overviewVideoViews = l
    except:
        overviewVideoViews = None
    
    di = {
        'profile_name' : [profile_name],
        'subscriber' : [subscriber],
        'view' : [view],
        'video' : [video],
        'country' : [country],
        'category' : [category],
        'since' : [since],
        'month_earnings' : [month_earnings],
        'last_subscriber_30' : [last_subscriber_30],
        'last_view_30' : [last_view_30],
        'overviewSubscribers' : [overviewSubscribers],
        'overviewVideoViews' : [overviewVideoViews],
    }

    df2 = pd.DataFrame(di)
    df1 = pd.concat([df1, df2], axis = 0)

In [13]:
df1.reset_index(drop=True, inplace=True)

In [14]:
df1

,profile_name,subscriber,view,video,country,category,since,month_earnings,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews
0,Rotana,"24,500,000","24,034,368,999",9078,Saudi Arabia (SA),Music,2012,"['$110K', '$658K']","200,000","292,453,337","[['2016-10-29', '3282041'], ['2016-11-27', '33...","[['2016-10-29', '2397995058'], ['2016-11-27', ..."
1,Mmoshaya,"23,200,000","18,468,679,361",1240,Saudi Arabia (SA),People & Blogs,2010,"['$12.8K', '$76.7K']",0,"34,076,848","[['2016-10-27', '1139825'], ['2016-11-23', '12...","[['2016-10-27', '340585176'], ['2016-11-23', '..."
2,شبكة العاب العرب | Arab Games Network,"22,300,000","10,024,125,023",7460,Saudi Arabia (SA),Gaming,2013,"['$17K', '$102K']","100,000","45,416,699","[['2016-11-14', '213303'], ['2017-01-19', '250...","[['2016-11-14', '22399237'], ['2017-01-19', '3..."
3,Katakit Baby Tv,"20,200,000","8,517,744,618",231,Saudi Arabia (SA),Music,2010,"['$50K', '$300K']","200,000","133,417,200","[['2021-07-18', '9780000'], ['2021-08-31', '10...","[['2021-07-18', '3675162082'], ['2021-08-31', ..."
4,ماشا و الدب,"18,300,000","10,158,387,659",1482,Saudi Arabia (SA),Shows,2017,"['$30.8K', '$185K']","100,000","82,126,847","[['2017-05-29', '967'], ['2017-06-18', '5106']...","[['2017-05-29', '135030'], ['2017-06-18', '973..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3580,Thunayyan Khalid!,"3,890,000","755,411,009",595,Canada (CA),Entertainment,2010,"[$170, $1.03K]",0,"455,754","[[2016-10-29, 1440927], [2016-11-24, 1517067],...","[[2016-10-29, 195190546], [2016-11-24, 2094165..."
3581,دانية شافعي Danyah Shafei,"2,830,000","1,160,145,940",329,,Film & Animation,2013,"[$1.03K, $6.21K]",0,"2,757,922","[[2016-10-29, 396331], [2016-11-23, 439363], [...","[[2016-10-29, 271407735], [2016-11-23, 2968749..."
3582,25esports,"348,000","13,915,866",56,,People & Blogs,2017,"[$78, $471]","5,000","209,635","[[2021-06-17, 230000], [2021-07-30, 241000], [...","[[2021-06-17, 4042277], [2021-07-30, 4848914],..."
3583,Barry | باري,"1,780,000","23,957,794",1,,People & Blogs,2017,"[$24, $144]",0,"64,270","[[2017-03-25, 78157], [2017-04-17, 104496], [2...","[[2017-03-25, 172750], [2017-04-17, 716716], [..."
3584,Dyler | دايلر,"7,860,000","1,224,551,963",567,,People & Blogs,2016,"[$568, $3.41K]",0,"1,515,993","[[2017-01-03, 387], [2017-02-15, 132771], [201...","[[2017-01-03, 0], [2017-02-15, 2639847], [2017..."

In [ ]:
df1.to_csv('youtube_data.csv', index=False)

In [16]:
df1.isnull().sum()

profile_name             0
subscriber               0
view                     0
video                    0
country                  0
category               359
since                    0
month_earnings           0
last_subscriber_30       0
last_view_30             0
overviewSubscribers      2
overviewVideoViews       2
dtype: int64

In [17]:
# df1.loc[1109, 'profile_name'] = 'آيات'

In [18]:
# df1.loc[1930, 'profile_name'] = 'SKoRSA'

In [19]:
df1.tail(23)

,profile_name,subscriber,view,video,country,category,since,month_earnings,last_subscriber_30,last_view_30,overviewSubscribers,overviewVideoViews
3562,S Ho Ngx Bоng,"16,000,000","2,773,959,313",765,,Gaming,2012,"[$14K, $84.2K]","100,000","37,401,013","[[2019-11-25, 1180000], [2019-12-11, 1210000],...","[[2019-11-25, 153110659], [2019-12-11, 1586680..."
3563,فارس | Faris,"2,740,000","384,769,616",222,,Gaming,2020,"[$2.8K, $16.8K]","40,000","7,474,924","[[2022-06-17, 122000], [2022-06-28, 151000], [...","[[2022-06-17, 4384909], [2022-06-28, 5609160],..."
3564,Zeeyad X,"1,900,000","126,010,702",120,,People & Blogs,2018,"[$56, $337]","-10,000","150,109","[[2021-06-01, 277000], [2021-07-11, 352000], [...","[[2021-06-01, 8481478], [2021-07-11, 13187555]..."
3565,ابو نوح,"10,000,000","1,260,378,139",240,,People & Blogs,2023,"[$23.9K, $143K]","520,000","63,660,623","[[2023-04-28, 423000], [2023-05-10, 802000], [...","[[2023-04-28, 2745632], [2023-05-10, 19695512]..."
3566,Ahmed Show,"5,270,000","1,056,322,482",1621,United States (US),Gaming,2015,"[$2.25K, $13.5K]","30,000","5,994,314","[[2016-11-19, 143038], [2017-01-31, 202218], [...","[[2016-11-19, 12484532], [2017-01-31, 17784578..."
3567,روب Powr Rob,"2,160,000","290,214,129",207,,Entertainment,2021,"[$1.04K, $6.25K]","10,000","2,775,936","[[2022-06-17, 353000], [2022-06-28, 364000], [...","[[2022-06-17, 19441954], [2022-06-28, 20175241..."
3568,Powr Blue باور بلو,"1,760,000","178,206,189",149,,People & Blogs,2023,"[$363, $2.18K]","10,000","970,334","[[2023-02-07, 127000], [2023-02-13, 190000], [...","[[2023-02-07, 1392459], [2023-02-13, 5525216],..."
3569,Powr O Kha Le Dx,"688,000","56,201,112",81,,Gaming,2017,"[$165, $992]","1,000","441,098","[[2023-04-04, 151000], [2023-04-15, 158000], [...","[[2023-04-04, 4099284], [2023-04-15, 4538510],..."
3570,Bo3 Omar22 ابوعمر,"2,200,000","436,915,990",674,,Gaming,2016,"[$5.1K, $30.6K]","50,000","13,597,291","[[2017-10-20, 26892], [2017-11-06, 36148], [20...","[[2017-10-20, 1063952], [2017-11-06, 1672747],..."
3571,Aziz عزيز,"2,790,000","409,243,391",1189,,Gaming,2011,"[$2.58K, $15.5K]","60,000","6,886,425","[[2016-12-27, 114689], [2017-01-24, 139907], [...","[[2016-12-27, 4623918], [2017-01-24, 6120546],..."
3572,X Sma333,"2,690,000","250,871,727",220,,Entertainment,2014,"[$1.27K, $7.61K]","30,000","3,380,534","[[2021-04-23, 975000], [2021-05-31, 1140000], ...","[[2021-04-23, 52543936], [2021-05-31, 63310607..."
3573,Raed,"2,200,000","206,553,211",206,,Gaming,2013,"[$1.84K, $11.1K]","30,000","4,919,304","[[2021-07-07, 309000], [2021-08-18, 333000], [...","[[2021-07-07, 10994105], [2021-08-18, 12906623..."
3574,أوسمز O C Mz,"8,500,000","2,547,923,880",3007,,Gaming,2012,"[$13.4K, $80.5K]","120,000","35,775,721","[[2016-11-19, 556313], [2017-02-15, 612199], [...","[[2016-11-19, 81755551], [2017-02-15, 89456067..."
3575,مودي الاسمر,"3,910,000","299,263,643",270,,Gaming,2012,"[$355, $2.13K]","10,000","946,915","[[2016-11-18, 743011], [2017-01-27, 771962], [...","[[2016-11-18, 22006736], [2017-01-27, 23050558..."
3576,Rakanoo,"3,690,000","1,131,232,640",1942,United States (US),Gaming,2011,"[$219, $1.31K]",0,"584,274","[[2016-11-02, 253020], [2016-11-24, 259724], [...","[[2016-11-02, 40759165], [2016-11-24, 42969035..."
3577,Fareed Xcx,"3,020,000","229,861,718",145,United States (US),Entertainment,2014,"[$899, $5.4K]","20,000","2,398,918","[[2019-02-23, 86709], [2019-03-09, 135397], [2...","[[2019-02-23, 3090257], [2019-03-09, 5805156],..."
3578,Maher Mosly,"1,430,000","167,280,128",560,United States (US),Film & Animation,2013,"[$294, $1.76K]","10,000","784,362","[[2017-08-02, 25681], [2017-10-13, 49628], [20...","[[2017-08-02, 560844], [2017-10-13, 1529131], ..."
3579,Shahid,"10,400,000","4,769,896,579",18878,United States (US),Entertainment,2011,"[$7.61K, $45.7K]","100,000","20,299,385","[[2016-10-29, 439658], [2016-11-29, 449385], [...","[[2016-10-29, 31831976], [2016-11-29, 33734720..."
3580,Thunayyan Khalid!,"3,890,000","755,411,009",595,Canada (CA),Entertainment,2010,"[$170, $1.03K]",0,"455,754","[[2016-10-29, 1440927], [2016-11-24, 1517067],...","[[2016-10-29, 195190546], [2016-11-24, 2094165..."
3581,دانية شافعي Danyah Shafei,"2,830,000","1,160,145,940",329,,Film & Animation,2013,"[$1.03K, $6.21K]",0,"2,757,922","[[2016-10-29, 396331], [2016-11-23, 439363], [...","[[2016-10-29, 271407735], [2016-11-23, 2968749..."
3582,25esports,"348,000","13,915,866",56,,People & Blogs,2017,"[$78, $471]","5,000","209,635","[[2021-06-17, 230000], [2021-07-30, 241000], [...","[[2021-06-17, 4042277], [2021-07-30, 4848914],..."
3583,Barry | باري,"1,780,000","23,957,794",1,,People & Blogs,2017,"[$24, $144]",0,"64,270","[[2017-03-25, 78157], [2017-04-17, 104496], [2...","[[2017-03-25, 172750], [2017-04-17, 716716], [..."
3584,Dyler | دايلر,"7,860,000","1,224,551,963",567,,People & Blogs,2016,"[$568, $3.41K]",0,"1,515,993","[[2017-01-03, 387], [2017-02-15, 132771], [201...","[[2017-01-03, 0], [2017-02-15, 2639847], [2017..."